* {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}

.header-wrapper, .hero-wrapper {
    display:flex;
    background-color: #1F2937;
    justify-content: center;
}

.header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 1200px;
    padding: 16px;
}

.title {
    font-size: 24px;
    color: #F9FAF8;
    font-weight: bold;
}

.links {
    display: flex;
    font-size: 18px;
    color: #E5E7EB;
    align-items: center;
    gap: 24px;
}

.hero {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 1200px;
    padding: 16px;
    gap: 80px;
    padding-top: 80px;
    padding-bottom: 80px;
}

.hero-image {
    width: 800px;
    height: 300px;
    background-color: grey;
}

.hero-left {
    display: flex;
    flex-direction: column;
    gap: 32px;
    justify-content: center;
}

.hero-title {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
    line-height: 100%;
    max-width: 400px
}

.hero-text {
    font-size: 18px;
    color: #E5E7EB;
    max-width: 600px
}

.button {
    color: #E5E7EB;
    background-color: #3882F6;
    font-size: 18px;
    font-weight: bold;
    padding: 8px;
    border: none;
    text-align: center;
    text-decoration: none;
    max-width: 120px;
    border-radius: 8px;
}

.information {
    display:flex;
    padding-top: 40px;
    justify-content: center;
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
    padding-bottom: 40px;
}

.box-col {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 14px;
    padding-bottom: 80px;
}

.boxes {
    display: flex;
    justify-content: center;
    gap: 50px;
}

.box {
    height: 160px;
    width: 160px;
    outline: 4px solid #3882F6;
    border-radius: 12px;
}

span {
    width: 150px;
    text-align: center;
}

.quote-wrapper {
    background-color: #E5E7EB;
    display: flex;
    justify-content: center;
}

.quote {
    display: flex;
    flex-direction: column;
    max-width: 800px;
    padding-top: 100px;
    padding-bottom: 100px;
}

.quote-text {
    font-size: 36px;
    font-weight: 300;
    font-style: italic;
    color: #1F2937;
}

.quote-author {
    font-size: 24px;
    font-weight: bold;
    align-self: flex-end;
}

.action-wrapper {
    display: flex;
    justify-content: center;
    padding-top: 80px;
    padding-bottom: 80px;
}

.action {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1000px;
    width:100%;
    background-color: #3882F6;
    border-radius: 12px;
    padding-top: 40px;
    padding-bottom: 40px;
    padding-left: 100px;
    padding-right: 100px;
}

.action-text {
    display: flex;
    flex-direction: column;
}

.action-title {
    font-size: 24px;
    font-weight: bold;
    color: #F9FAF8;
}

.action-sub {
    font-size: 18px;
    color: #E5E7EB;
}

.action-button {
    color: #E5E7EB;
    outline: 3px solid #E5E7EB;
    background-color: #3882F6;
    font-size: 18px;
    font-weight: bold;
    padding: 12px;
    padding-right: 40px;
    padding-left: 40px;
    border: none;
    text-align: center;
    text-decoration: none;
    max-width: 160px;
    border-radius: 8px;
}

.footer {
    display: flex;
    justify-content: center;
    background-color: #1F2937;
    padding-top: 40px;
    padding-bottom: 40px;
}

.footer-text {
    font-size: 18px;
    color: #E5E7EB;
    font-weight: 300;
}